@*@model IEnumerable<Kid_Palace_Project.Models.ProductM.ToyModel>*@
@using Kid_PalaceA2.Models
@model ProductViewdata
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
            <i class="fas fa-user-secret me-2"></i>catalogue
        </div>
        <div class="list-group list-group-flush my-3">


            <a type="button" class="btn btn-outline-primary  product_buton" asp-route-id="0" asp-controller="Product" asp-action="Products">AllProducts</a>
            @*<a class="nav-link" asp-route-id="0" asp-controller="Product" asp-action="Products">AllProducts</a>*@
            @foreach (var item in Model.prdCategory)
            {
                <a type="button" class="btn btn-outline-primary  product_buton" asp-route-id="@item.ProductCategoryId" asp-controller="Product" asp-action="Products">@item.ProductCategoryName</a>
                @*<a class="nav-link" asp-route-id="@item.ProductCategoryId" asp-controller="Product" asp-action="Products">@item.ProductCategoryName</a>*@
            }


        </div>
    </div>
    <div class="col-md-10 col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
            <div class="d-flex align-items-center">
                <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>

            </div>

        </nav>


        <div class="container">

            <div class="row">

                <div class="col-md-10  mx-auto">

                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        @if (Model.prdCatId > 0)
                        {
                            @foreach (var item in Model.SelectedprdCat)
                            {
                                <div class="col-md-3 col-6 col-5 mx-auto product-img">
                                    <div class="card animate" style="border-radius: 0px;">

                                        <img src="@("~/img/" + item.ToyImg)" asp-append-version="true" class="card-img-top">
                                        @if (item.Discount > 0)
                                        {<p style="font-size:small;width:fit-content;height:30px;position:relative;color:white;background-color:red;border:dashed">@Html.DisplayFor(modelItem => item.Discount)% off &nbsp</p>

                                    }
                                    else
                                    {
                                    }

                                        <h5 class="card-title" style="margin-left:10px">

                                            @if (item.Discount > 0)
                                            {@Html.DisplayFor(modelItem => item.ToyName)
                                            <del><p style="font-size:small;" class="disabled"> Rs @Html.DisplayFor(modelItem => item.ToyPrice) </p></del>
                                            <p style="font-size:small"><strong>Rs @Html.DisplayFor(modelItem => item.SalePrice) </strong> AfterDiscount</p>

                                        }
                                        else
                                        {
                                            <p style="padding:16px"> </p>
                                            @Html.DisplayFor(modelItem => item.ToyName)

                                            <p style="padding:10px"><strong>Rs @Html.DisplayFor(modelItem => item.SalePrice)  </strong> </p>

                                        }
                                        </h5>



                                        <a type="button" class="btn btn-warning" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id">Add to Cart</a>
                                    </div>
                                </div>

                            }
                        }
                        else
                        {
                            @foreach (var item in Model.product)
                            {
                                <div class="col-md-3 col-6 col-5 mx-auto product-img">
                                    <div class="card animate" style="border-radius: 0px;">

                                        <img src="@("~/img/" + item.ToyImg)" asp-append-version="true" class="card-img-top">
                                        @if (item.Discount > 0)
                                        {<p style="font-size:small;width:fit-content;height:30px;position:relative;color:white;background-color:red;border:dashed">@Html.DisplayFor(modelItem => item.Discount)% off &nbsp</p>

                                    }
                                    else
                                    {
                                    }

                                        <h5 class="card-title" style="margin-left:10px">

                                            @if (item.Discount > 0)
                                            {@Html.DisplayFor(modelItem => item.ToyName)
                                            <del><p style="font-size:small;" class="disabled"> Rs @Html.DisplayFor(modelItem => item.ToyPrice) </p></del>
                                            <p style="font-size:small"><strong>Rs @Html.DisplayFor(modelItem => item.SalePrice) </strong> AfterDiscount</p>

                                        }
                                        else
                                        {
                                            <p style="padding:16px"> </p>
                                            @Html.DisplayFor(modelItem => item.ToyName)

                                            <p style="padding:10px"><strong>Rs @Html.DisplayFor(modelItem => item.SalePrice)  </strong> </p>

                                        }
                                        </h5>



                                        <a type="button" class="btn btn-warning" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id">Add to Cart</a>
                                    </div>
                                </div>

                            }
                        }


                    </div>
                </div>
            </div>
        </div>

    </div>

</div>











@*<script type="text/javascript">

    </script>*@
