@model IEnumerable<Kid_PalaceA2.Models.Supplier.SupplierDetail>

@{
    ViewData["Title"] = "showSupplierDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="text-center">
                <h2>All Suppliers</h2>
            </div>
            <br />
            <div class="table-responsive" style="background-color:white">
                <table id="example" class="ui celled table" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SupplierName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SupplierPhoneNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SupplierName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SupplierPhoneNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>

                                <td>
                                    <a>  @Html.ActionLink("Update", "SupplierCreate", new { id = item.Id, item.SupplierName, item.SupplierPhoneNo, item.Description }, new { @class = "btn btn-primary bi bi-pencil-square" }) </a>


                                    <a>   @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger text-white bi bi-trash", onclick = "return confirm('Do you really want to delete this report')" })</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
